body{ font-family:"Arial";}

hr{border-color: blue;}
a:hover{color: black;}
a:visited{color: green;}
a:active{color: red;}
body{background-image: url("http://cdn.history.com/sites/2/2013/12/egyptian-pyramids-hero-H.jpeg");}
marquee{font-size:25px;}
h1{text-align: center;
font-size: 60px;}
	p{text-align:center;
	color: #F03811;
	font-size:48px;}
